# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)Rank B) Name C) Artist D) Upload date E) Views

In [ ]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [3]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
from selenium import webdriver

In [6]:
driver=webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.maximize_window()

In [ ]:
https://www.youtube.com/watch?v=JLDbAx6LAdo

In [7]:
names=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]/a')

In [8]:
name=[]

In [15]:
names=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]/a')

In [16]:
for i in names:
    
    
    name_tag=(i.text)
    name.append(name_tag)

In [18]:
print(len(name))

29

In [17]:
name

['Baby Shark Dance',
 'Despacito',
 'Johny Johny Yes Papa',
 'Bath Song',
 'Shape of You',
 'See You Again',
 'Wheels on the Bus',
 'Phonics Song with Two Words',
 'Uptown Funk',
 'Learning Colors – Colorful Eggs on a Farm',
 'Gangnam Style',
 'Dame Tu Cosita',
 'Axel F',
 'Sugar',
 'Counting Stars',
 'Baa Baa Black Sheep',
 'Roar',
 'Lakdi Ki Kathi',
 'Waka Waka (This Time for Africa)',
 'Sorry',
 'Thinking Out Loud',
 'Humpty the train on a fruits ride',
 'Shree Hanuman Chalisa',
 'Dark Horse',
 'Perfect',
 'Let Her Go',
 'Faded',
 'Girls Like You',
 'Lean On']

In [43]:
len(names)

29

In [26]:
uploader_name=[]

In [30]:
uploader=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]/a')

In [31]:
for i in uploader:
    title=i.text
    uploader_name.append(title)

In [32]:
uploader_name

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Cocomelon - Nursery Rhymes',
 'Katy Perry',
 'Shakira',
 'Justin Bieber',
 'Ed Sheeran',
 'T-Series Bhakti Sagar',
 'Katy Perry',
 'Ed Sheeran',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [33]:
len(uploader_name)

28

In [67]:
print(len(uploader_name))

28

In [36]:
uploader_name.insert(18,'Jingle Toons')

In [37]:
len(uploader_name)

29

In [51]:
views=[]

In [56]:
view=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')

In [57]:
for i in view:
    view_tag=(i.text)
    views.append(view_tag)

In [58]:
views

['14.09',
 '14.09',
 '8.38',
 '6.87',
 '6.62',
 '6.20',
 '6.17',
 '5.88',
 '5.70',
 '5.15',
 '5.07',
 '5.05',
 '4.58',
 '4.55',
 '4.34',
 '4.00',
 '3.97',
 '3.96',
 '3.96',
 '3.91',
 '3.85',
 '3.77',
 '3.73',
 '3.73',
 '3.69',
 '3.67',
 '3.67',
 '3.61',
 '3.59',
 '3.56',
 '3.55']

In [63]:
len(views)

29

In [62]:
views.pop(1)

'8.38'

In [66]:
upload_date=[]

In [67]:
date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')

In [68]:
for i in date:
    date_tag=i.text
    upload_date.append(date_tag)

In [71]:
print(len(upload_date))

29

In [70]:
upload_date.pop(1)

'January 12, 2017'

In [72]:
import pandas as pd

In [77]:

import pandas as pd
df=pd.DataFrame({'Names':name,'Uploader':uploader_name,'Views':views,'Date':upload_date})
df

,Names,Uploader,Views,Date
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,Johny Johny Yes Papa,Luis Fonsi,6.87,"October 8, 2016"
2,Bath Song,LooLoo Kids - Nursery Rhymes and Children's Songs,6.62,"May 2, 2018"
3,Shape of You,Cocomelon - Nursery Rhymes,6.20,"January 30, 2017"
4,See You Again,Ed Sheeran,6.17,"April 6, 2015"
5,Wheels on the Bus,Wiz Khalifa,5.88,"May 24, 2018"
6,Phonics Song with Two Words,Cocomelon - Nursery Rhymes,5.70,"March 6, 2014"
7,Uptown Funk,ChuChu TV Nursery Rhymes & Kids Songs,5.15,"November 19, 2014"
8,Learning Colors – Colorful Eggs on a Farm,Mark Ronson,5.07,"February 27, 2018"
9,Gangnam Style,Miroshka TV,5.05,"July 15, 2012"
10,Dame Tu Cosita,Psy,4.58,"January 31, 2012"
11,Masha and the Bear – Recipe for Disaster,Get Movies,4.55,"April 5, 2018"
12,Axel F,Ultra Records,4.34,"June 16, 2009"
13,Sugar,Crazy Frog,4.00,"January 14, 2015"
14,Counting Stars,Maroon 5,3.97,"May 31, 2013"
15,Baa Baa Black Sheep,OneRepublic,3.96,"June 25, 2018"
16,Roar,Cocomelon - Nursery Rhymes,3.96,"September 5, 2013"
17,Lakdi Ki Kathi,Katy Perry,3.91,"June 14, 2018"
18,Waka Waka (This Time for Africa),Jingle Toons,3.85,"June 4, 2010"
19,Sorry,Shakira,3.77,"October 22, 2015"
20,Thinking Out Loud,Justin Bieber,3.73,"October 7, 2014"
21,Humpty the train on a fruits ride,Ed Sheeran,3.73,"January 26, 2018"
22,Shree Hanuman Chalisa,T-Series Bhakti Sagar,3.69,"May 10, 2011"
23,Dark Horse,Katy Perry,3.67,"February 20, 2014"
24,Perfect,Ed Sheeran,3.67,"November 9, 2017"
25,Let Her Go,Passenger,3.61,"July 25, 2012"
26,Faded,Alan Walker,3.59,"December 3, 2015"
27,Girls Like You,Maroon 5,3.56,"May 31, 2018"
28,Lean On,Major Lazer Official,3.55,"March 22, 2015"

In [76]:
print(len(name),len(uploader_name),len(views),len(upload_date))

29 29 29 29

In [75]:
name.pop(1)

'Despacito'

In [25]:
df

                                        Names
0                            Baby Shark Dance
1                                   Despacito
2                        Johny Johny Yes Papa
3                                   Bath Song
4                                Shape of You
5                               See You Again
6                           Wheels on the Bus
7                 Phonics Song with Two Words
8                                 Uptown Funk
9   Learning Colors – Colorful Eggs on a Farm
10                              Gangnam Style
11                             Dame Tu Cosita
12   Masha and the Bear – Recipe for Disaster
13                                     Axel F
14                                      Sugar
15                             Counting Stars
16                        Baa Baa Black Sheep
17                                       Roar
18                             Lakdi Ki Kathi
19           Waka Waka (This Time for Africa)
20                                      Sorry
21                          Thinking Out Loud
22          Humpty the train on a fruits ride
23                      Shree Hanuman Chalisa
24                                 Dark Horse
25                                    Perfect
26                                 Let Her Go
27                                      Faded
28                             Girls Like You
29                                    Lean On

# Q.2 Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Series B) Place C) Date D) Time . Note: - From bcci.tv home page you have reach to the international fixture page through code

In [158]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [104]:
driver=webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [105]:
fixtures=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
fixtures.click()

In [152]:
series_name=[]
place_name=[]
date_name=[]
time_name=[]

In [160]:
# scrapping series name
series_tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tag:
    series=(i.text)
    series_name.append(series)

In [161]:
series_name

['ENGLAND TOUR OF INDIA 2023-24',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024',
 'INDIA TOUR OF ZIMBABWE 2024']

In [163]:
#scrapping place

place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in place_tag:
    place=(i.text)
    place_name.append(place)

In [164]:
place_name

['Himachal Pradesh Cricket Association Stadium,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,',
 'Harare Sports Club,']

In [121]:
place_name.pop(0)

'INDIA TOUR OF ZIMBABWE 2024'

In [137]:
place_name.pop(0)

'Harare Sports Club,'

In [162]:
place_name

[]

In [167]:
#scrapping date

date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tag:
    date=(i.text)
    date_name.append(date)

In [173]:
date_name

['7 JULY,2024',
 '6 JULY, 2024',
 '7 JULY, 2024',
 '10 JULY, 2024',
 '13 JULY, 2024',
 '14 JULY, 2024']

In [172]:
date_name.insert(0,'7 JULY,2024')

In [153]:
#scrapping time
try:
time_tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
except NoSuchElementException as e:
for i in time_tag:
    time=(i.text)
    time_name.append(time)

In [165]:
time_name

['9:30 AM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [155]:
import pandas as pd

In [175]:
import pandas as pd
df=pd.DataFrame({'Series':series_name,'Place':place_name,'Date':date_name,'Time':time_name})
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium,","7 JULY,2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

In [174]:
print(len(series_name),len(place_name),len(time_name),len(date_name))

6 6 6 6

# Q.3 Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page throughcode.

In [49]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

from selenium.webdriver.common.keys import Key
from selenium import 
from selenium webdriver.support.ui import WebDriverWait,Select

SyntaxError: invalid syntax (<ipython-input-49-247fac344ff0>, line 9)

In [2]:
driver=webdriver.Chrome()
driver.get('http://statisticstimes.com/ ')

In [64]:
eco=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [66]:
month=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [195]:
rank_name=[] 
state_name2=[] 
GSDP1819_name=[]
GSDP1920_name=[] 
share1819_name=[]
GDP_name=[]

In [196]:
#scrapping rank
rank_tag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for i in rank_tag:
    rank=(i.text)
    rank_name.append(rank)

In [197]:
rank_name.pop(0)

'1'

In [202]:
rank_name.insert(0,'1')

In [204]:
len(rank_name)

33

In [199]:
del rank_name[0:33]

In [206]:

#scrapping state
state_tag2=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for i in state_tag2:
    state2=(i.text)
    state_name2.append(state2)

In [208]:
del state_name2[0:32]

In [212]:
len(state_name2)

33

In [211]:
state_name2.pop(0)

'Andaman & Nicobar Islands'

In [146]:
del list1[1:5]

['33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 '33',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Telangana',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Telangana',
 'Andhra Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Odisha',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Arunachal Pradesh',
 'Sikkim',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Telangana',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Arunachal Pradesh',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Telangana',
 'Andhra Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Odisha',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Arunachal Pradesh',
 'Sikkim',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [154]:
del state_name2[0:31]           #del list1[1:5]

In [158]:
state_name2.pop(0)

'Andaman & Nicobar Islands'

In [159]:
state_name2

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Madhya Pradesh',
 'Telangana',
 'Andhra Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Odisha',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir-UT',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Arunachal Pradesh',
 'Sikkim',
 'Nagaland',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [214]:


#scrapping GSDP 18-19
gsdp1819_tag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for i in gsdp1819_tag:
    gsdp1819=(i.text)
    GSDP1819_name.append(gsdp1819)

In [216]:
del GSDP1819_name[0:32]

In [218]:
GSDP1819_name.pop(0)

'-'

In [219]:
len(GSDP1819_name)

33

In [221]:
#Scrapping GSDP1920_name

gsdp1920_tag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for i in gsdp1920_tag:
    gsdp1920=(i.text)
    GSDP1920_name.append(gsdp1920)

In [223]:
del GSDP1920_name[0:32]

In [226]:
len(GSDP1920_name)

33

In [225]:
GSDP1920_name.pop(0)

'10,371'

In [228]:
#Scrapping share1819

share_tag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for i in share_tag:
    share=(i.text)
    share1819_name.append(share)

In [230]:
del share1819_name[0:32]

In [232]:
share1819_name.pop(0)

'0.04%'

In [233]:
len(share1819_name)

33

In [235]:
# Scrapping GDP

gdp_tag=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
for i in gdp_tag:
    gdp=(i.text)
    GDP_name.append(gdp)

In [237]:
del GDP_name[0:32]

In [240]:
len(GDP_name)

33

In [239]:
GDP_name.pop(0)

'1.392'

In [241]:
print(len(rank_name),len(state_name2),len(GSDP1819_name),len(GSDP1920_name),len(share1819_name),len(GDP_name))

33 33 33 33 33 33

In [242]:
import pandas as pd
df=pd.DataFrame({'Rank':rank_name,'State':state_name2,' GSDP(18-19)':GSDP1819_name,'GSDP(19-29)':GSDP1920_name,'Share':share1819_name,'GDP':GDP_name})
df

   Rank                      State  GSDP(18-19) GSDP(19-29)   Share        GDP
0     1                Maharashtra            -   2,690,525  13.24%          -
1     2                 Tamil Nadu    2,115,510   1,854,109   9.12%  1,279,878
2     3                  Karnataka    2,036,748   1,782,121   8.77%  1,190,851
3     4              Uttar Pradesh    1,961,204   1,714,265   8.43%  1,104,608
4     5                    Gujarat            -   1,700,504   8.37%          -
5     6                West Bengal    1,397,956   1,228,065   6.04%    747,177
6     7                  Rajasthan    1,259,527   1,084,845   5.34%    694,771
7     8             Madhya Pradesh    1,211,113   1,034,988   5.09%    560,168
8     9                  Telangana    1,187,082   1,024,205   5.04%    642,207
9    10             Andhra Pradesh    1,165,179   1,006,285   4.95%    655,662
10   11                     Kerala            -     822,970   4.05%          -
11   12                      Delhi      942,686     810,260   3.99%    574,424
12   13                    Haryana      885,308     779,197   3.83%    542,972
13   14                      Bihar      681,761     589,712   2.90%    394,114
14   15                     Odisha      691,888     587,900   2.89%    403,222
15   16                     Punjab      586,137     537,132   2.64%    398,725
16   17                      Assam      427,147     363,161   1.79%    251,688
17   18               Chhattisgarh      402,189     358,407   1.76%    250,841
18   19                  Jharkhand      360,689     325,830   1.60%    235,685
19   20                Uttarakhand      270,632     242,728   1.19%    183,359
20   21         Jammu & Kashmir-UT      185,489     162,644   0.80%    105,636
21   22           Himachal Pradesh      165,625     149,242   0.73%    113,566
22   23                        Goa            -      73,973   0.36%          -
23   24                    Tripura       65,808      56,226   0.28%     37,917
24   25                 Chandigarh            -      40,573   0.20%          -
25   26                 Puducherry            -      40,039   0.20%          -
26   27                  Meghalaya       37,925      34,441   0.17%     21,905
27   28                    Manipur            -      32,874   0.16%          -
28   29          Arunachal Pradesh            -      31,669   0.16%          -
29   30                     Sikkim       35,670      31,519   0.16%     17,832
30   31                   Nagaland            -      27,859   0.14%          -
31   32                    Mizoram            -      24,293   0.12%          -
32   33  Andaman & Nicobar Islands            -       9,209   0.05%          -

# Q.4 Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [1]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [2]:
driver=webdriver.Chrome()
driver.get('https://github.com/')

In [29]:

opensource=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]").click()

In [32]:


trending=driver.find_element(By.XPATH,'//div[@class="header-menu-wrapper d-flex flex-column flex-self-end flex-lg-row flex-justify-between flex-auto p-3 p-lg-0 rounded rounded-lg-0 mt-3 mt-lg-0"]/nav/ul/li[3]/div/div[3]/ul/li[2]/a').click()

In [33]:
Repository_title=[]
Repository_description=[] 
Contributors_count=[]
Language_used=[]

In [36]:


#Scrapping repository title

rtitle_tag=driver.find_elements(By.XPATH,'//a[@class="Link"]')
for i in rtitle_tag:
    repo=(i.text)
    Repository_title.append(repo)

In [37]:
Repository_title

['Lissy93 / web-check',
 'pmndrs / uikit',
 'vvbbnn00 / WARP-Clash-API',
 'OpenCodeInterpreter / OpenCodeInterpreter',
 'movie-web / movie-web',
 'toeverything / AFFiNE',
 'joaomdmoura / crewAI',
 'public-apis / public-apis',
 'tigerbeetle / tigerbeetle',
 'taikoxyz / taiko-mono',
 'dockur / windows',
 'ashishps1 / awesome-system-design-resources',
 'SciPhi-AI / R2R',
 'myshell-ai / MeloTTS',
 'krishnaik06 / Data-Science-Projects-For-Resumes',
 'ossu / computer-science',
 'polyfillpolyfill / polyfill-service',
 'microsoft / generative-ai-for-beginners',
 'mistralai / mistral-src',
 'Pawdroid / Free-servers',
 'WongKinYiu / yolov9',
 'jellyfin / jellyfin',
 'nvm-sh / nvm',
 'pure-admin / vue-pure-admin',
 'FuelLabs / sway']

In [39]:


#Scrapping repository description

dec_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in dec_tag:
    desc=(i.text)
    Repository_description.append(desc)

In [41]:
Repository_description.insert(14,'DS Resume')

In [42]:
len(Repository_description)

25

In [61]:
Contributors_count1=[]
#Scrapping contributors count

count_tag=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[1]')
for i in count_tag:
    count=(i.text)
    Contributors_count1.append(count)

In [62]:
 len(Contributors_count1)

25

In [48]:
Language_used=[]

Contributors_count1=[]
#Scrapping language used

lang_tag=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
for i in lang_tag:
    lang1=(i.text)
    Language_used.append(lang1)

In [49]:
Language_used

['TypeScript',
 'TypeScript',
 'Python',
 'Python',
 'TypeScript',
 'TypeScript',
 'Python',
 'Python',
 'Zig',
 'HTML',
 'Shell',
 'Python',
 'Python',
 'Jupyter Notebook',
 'Jupyter Notebook',
 'Python',
 'C#',
 'Shell',
 'Vue',
 'Rust']

In [54]:
Language_used.insert(18,"jupyter notebook")

In [55]:
len(Language_used)

25

In [64]:
import pandas as pd
df=pd.DataFrame({'Title':Repository_title,'Repo Desc':Repository_description,'Count':Contributors_count1,'Language':Language_used})
df

,Title,Repo Desc,Count,Language
0,Lissy93 / web-check,🕵️‍♂️ All-in-one OSINT tool for analysing any ...,"10,012",TypeScript
1,pmndrs / uikit,📱 user interfaces for react-three-fiber,"1,175",TypeScript
2,vvbbnn00 / WARP-Clash-API,该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This p...,"4,257",Python
3,OpenCodeInterpreter / OpenCodeInterpreter,OpenCodeInterpreter is a suite of open-source ...,975,Python
4,movie-web / movie-web,A small web app for watching movies and shows ...,"19,094",TypeScript
5,toeverything / AFFiNE,There can be more than Notion and Miro. AFFiNE...,"27,753",TypeScript
6,joaomdmoura / crewAI,"Framework for orchestrating role-playing, auto...","8,573",Python
7,public-apis / public-apis,A collective list of free APIs,"283,354",Python
8,tigerbeetle / tigerbeetle,The distributed financial transactions databas...,"5,504",Zig
9,taikoxyz / taiko-mono,"A decentralized, Ethereum-equivalent ZK-Rollup. 🥁","3,282",HTML
10,dockur / windows,Windows in a Docker container.,"2,384",Shell
11,ashishps1 / awesome-system-design-resources,This repository contains System Design resourc...,"8,809",python
12,SciPhi-AI / R2R,A framework for rapid development and deployme...,755,Python
13,myshell-ai / MeloTTS,High-quality multi-lingual text-to-speech libr...,674,Python
14,krishnaik06 / Data-Science-Projects-For-Resumes,DS Resume,430,html
15,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,"159,330",jupyter notebook
16,polyfillpolyfill / polyfill-service,Automatic polyfill service.,"6,329",html
17,microsoft / generative-ai-for-beginners,"18 Lessons, Get Started Building with Generati...","24,824",Jupyter Notebook
18,mistralai / mistral-src,Reference implementation of Mistral AI 7B v0.1...,"7,896",jupyter notebook
19,Pawdroid / Free-servers,🚀 免费订阅地址，🚀 免费节点，🚀 6小时更新一次，共享节点，节点质量高可用，完全免费。免费...,"8,322",Jupyter Notebook
20,WongKinYiu / yolov9,Implementation of paper - YOLOv9: Learning Wha...,"5,671",Python
21,jellyfin / jellyfin,The Free Software Media System,"28,714",C#
22,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,"74,231",Shell
23,pure-admin / vue-pure-admin,🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款...,"12,553",Vue
24,FuelLabs / sway,🌴 Empowering everyone to build reliable and ef...,"54,612",Rust

In [63]:
print(len(Repository_title),len(Repository_description),len(Contributors_count1),len(Language_used))

25 25 25 25

# Q.5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [65]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [73]:
driver=webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [81]:
Song_name1=[]
Artist_name=[]
Last_week_rank=[] 
Peak_rank=[]
Weeks_on_board=[]

In [77]:
opensource1=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a").click()

In [79]:
chart100=driver.find_element(By.XPATH,'//div[@class="u-flex-grow-0 lrv-u-text-align-center"]/span/a[1]').click()

In [82]:

#Scrapping song name

song_tag1=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in song_tag1:
    song1=(i.text)
    Song_name1.append(song1)

In [83]:
len(Song_name1)

100

In [86]:
#Scrapping Artist name name

artist_tag=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in artist_tag:
    artist=(i.text)
    Artist_name.append(artist)

In [89]:
len(Artist_name)

100

In [88]:
Artist_name.insert(100,'Swims')

In [90]:
#Scrapping Last week Rank

rank_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[3]')
for i in rank_tag:
    rank=(i.text)
    Last_week_rank.append(rank)

In [94]:
len(Last_week_rank)

100

In [93]:
Last_week_rank.insert(100,'7')

In [95]:
#Scrapping Peak rank

peak_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]')
for i in peak_tag:
    rank=(i.text)
    Peak_rank.append(rank)

In [98]:
len(Peak_rank)

100

In [97]:
Peak_rank.insert(100,'4')

In [99]:
#Scrapping Weeks on board

week_tag=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[5]')
for i in week_tag:
    board=(i.text)
    Weeks_on_board.append(board)

In [102]:
len(Weeks_on_board)

100

In [101]:
Weeks_on_board.insert(100,45)

In [103]:
print(len(Song_name1),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [104]:
import pandas as pd
df=pd.DataFrame({'song Name':Song_name1,'Artist_name':Artist_name,'Last week Rank':Last_week_rank,'Peak Rank':Peak_rank,'weeks':Weeks_on_board})
df

,song Name,Artist_name,Last week Rank,Peak Rank,weeks
0,Texas Hold 'Em,Jack Harlow,1,1,15
1,Lovin On Me,Teddy Swims,5,2,28
2,Lose Control,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
3,Carnival,Benson Boone,4,3,5
4,Beautiful Things,SZA,7,2,62
...,...,...,...,...,...
95,Talking,Bad Bunny,97,5,19
96,Monaco,Bailey Zimmerman,-,32,8
97,Where It Ends,The Red Clay Strays,-,71,8
98,Wondering Why,Noah Kahan With Hozier,75,37,12
99,Northern Attitude,Swims,7,4,45

# Q.6 Scrape the details of Highest selling novels. A) Book name B) Author name C) Volumes sold D) Publisher E) Genre Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [17]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [24]:
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [25]:
book_name=[] 
author_name=[]
volumes_sold=[]
publisher_name=[]
genre_name=[]

In [35]:
#Scrapping book name
book_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')    
for i in book_tag1:
    book=(i.text)
    book_name.append(book)

In [36]:
len(book_name)

100

In [37]:
#Scrapping Author name
author_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')    
for i in author_tag:
    author=(i.text)
    author_name.append(author)

In [38]:
len(author_name)

100

In [39]:
#Scrapping volume sold
volume_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')    
for i in volume_tag:
    volume=(i.text)
    volumes_sold.append(volume)

In [40]:
len(volumes_sold)

100

In [41]:
#Scrapping publisher name
publisher_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')    
for i in publisher_tag:
    publisher=(i.text)
    publisher_name.append(publisher)

In [42]:
len(publisher_name)

100

In [43]:
#Scrapping publisher name
genre_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')    
for i in genre_tag:
    genre=(i.text)
    genre_name.append(genre)

In [44]:
len(genre_name)

100

In [45]:
import pandas as pd
df=pd.DataFrame({'Book Name':book_name,'Author name':author_name,'Volume sold':volumes_sold,'Publisher Name':publisher_name,'Genre':genre_name})
df

,Book Name,Author name,Volume sold,Publisher Name,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q.7  Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [46]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [47]:
driver=webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')

In [77]:
name1=[]
year_span=[]
genre1=[]
run_time=[]
ratings=[]
votes1=[]

In [78]:
#Scrapping name
name_tag=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a')    
for i in name_tag:
    name=(i.text)
    name1.append(name)

In [79]:
len(name1)

100

In [81]:
#Scrapping year
year_tag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')    
for i in year_tag:
    year=(i.text)
    year_span.append(year)

In [82]:
len(year_span)

100

In [83]:
#Scrapping genre
genre_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')    
for i in genre_tag:
    genre=(i.text)
    genre1.append(genre)

In [84]:
len(genre1)

100

In [85]:
#Scrapping run time
run_tag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')    
for i in run_tag:
    run=(i.text)
    run_time.append(run)

In [86]:
len(run_time)

100

In [87]:
#Scrapping ratings
ratings_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')    
for i in ratings_tag:
    rating=(i.text)
    ratings.append(rating)

In [88]:
len(ratings)

100

In [89]:
#Scrapping votes
votes_tag1=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')    
for i in votes_tag1:
    vote1=(i.text)
    votes1.append(vote1)

In [90]:
len(votes1)

100

In [71]:
votes1

['2,262,114',
 '1,320,102',
 '1,072,017',
 '313,447',
 '273,360',
 '318,662',
 '154,361',
 '338,287',
 '366,930',
 '444,753',
 '526,735',
 '861,139',
 '633,267',
 '989,373',
 '576,061',
 '177,358',
 '347,074',
 '341,283',
 '2,110,255',
 '352,714',
 '479,100',
 '574,851',
 '165,328',
 '162,035',
 '433,041',
 '235,946',
 '465,802',
 '471,326',
 '1,078,766',
 '723,982',
 '472,240',
 '415,183',
 '146,697',
 '129,119',
 '191,522',
 '162,180',
 '239,831',
 '529,664',
 '225,674',
 '477,273',
 '594,709',
 '69,863',
 '217,307',
 '528,324',
 '437,739',
 '89,860',
 '346,878',
 '279,856',
 '243,709',
 '225,147',
 '2,262,114',
 '295,849',
 '1,320,102',
 '759,543',
 '1,072,017',
 '142,837',
 '313,447',
 '361,927',
 '273,360',
 '277,241',
 '318,662',
 '590,333',
 '154,361',
 '637,670',
 '338,287',
 '505,483',
 '366,930',
 '63,657',
 '444,753',
 '116,463',
 '526,735',
 '359,263',
 '861,139',
 '78,617',
 '633,267',
 '109,676',
 '989,373',
 '255,908',
 '576,061',
 '107,375',
 '177,358',
 '110,826',
 '347,074',
 '58,389',
 '341,283',
 '154,871',
 '2,110,255',
 '403,345',
 '352,714',
 '356,263',
 '479,100',
 '111,947',
 '574,851',
 '272,463',
 '165,328',
 '645,117',
 '162,035',
 '114,848',
 '433,041',
 '138,664']

In [92]:
import pandas as pd
df=pd.DataFrame({'Name':name1,'Year Span':year_span,'Genre':genre1,'Run time':run_time,'Ratings':ratings,'Votes':votes1})
df

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,262,114"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,102"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,072,017"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,447"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,360"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"645,117"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,035"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,848"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,041"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,664"

In [91]:
print(len(name1),len(year_span),len(genre1),len(run_time),len(ratings),len(votes1))

100 100 100 100 100 100

# Q. 8 Details of Datasets from UCI machine learning repositories. 
# Url = https://archive.ics.uci.edu/ You 
# have to find the following details: 
# A) Dataset name 
# B) Data type 
# C) Task 
# D) Attribute type 
# E) No of instances 
# F) No of attribute G) Year 
# Note: - from the home page you have to go to the Show All Dataset page through code.

In [1]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import csv

In [2]:
driver=webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [58]:
dataset_name=[]
datatype_name=[]
task1_name=[]
attribute_type=[] 
no_of_instances=[]
no_of_attribute=[]
year_name=[]

In [4]:
view_datasets=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]").click()

In [90]:
#Scrapping dataset name

dataset_tag=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')    
for i in dataset_tag:
    try:
        data=(i.text)
        dataset_name.append(data)
    except NoSuchElementException:
        dataset_name.append(None)

In [91]:
len(dataset_name)

10

In [104]:
#Scrapping datatype name
datatype_name1=[]
datatype_tag1=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')    
for i in datatype_tag1:
        datatype1=(i.text)
        datatype_name1.append(datatype1)

In [106]:
len(datatype_name1)

10

In [ ]:
datatype_name1

In [93]:
del datatype_name[0:2]

In [27]:
datatype_name.pop(0)

''

In [31]:
del datatype_name[10]

In [94]:
datatype_name

['', '', '', '', '', '', '', '']

In [33]:
len(datatype_name)

10

In [65]:
#Scrapping datatype name

task1_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')    
for i in task1_tag:
    task2=(i.text)
    task1_name.append(task2)

In [67]:
del task1_name[0:18]

In [73]:
del task1_name[10:19]

In [76]:
task1_name.pop(0)

'Classification'

In [77]:
len(task1_name)

10

In [79]:
#Scrapping attribute_type=[] 

attribute_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')    
for i in attribute_tag:
    attribute=(i.text)
    attribute_type.append(attribute)

In [81]:
 len(attribute_type)

10

In [82]:
no_of_instances=[]
#Scrapping number of instances

instances_tag=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')    
for i in instances_tag:
    instances=(i.text)
    no_of_instances.append(instances)

In [84]:
len(no_of_instances)

10

In [86]:

#Scrapping year 

year_tag=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')    
for i in year_tag:
    year=(i.text)
    year_name.append(year)

In [88]:
len(year_name)

10

In [108]:
print(len(dataset_name),len(datatype_name1),len(task1_name),len(attribute_type),len(no_of_instances),len(year_name))

10 10 10 10 10 10

In [111]:
import pandas as pd
df=pd.DataFrame({'Name':dataset_name,'Data Type':datatype_name1,'Task':task1_name,'Attribute type':attribute_type,'no of Instances':no_of_instances,'Year':year_name})
df

,Name,Data Type,Task,Attribute type,no of Instances,Year
0,Iris,Tabular,Classification,4 Features,150 Instances,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,16 Features,13.61K Instances,9/14/2020
2,Heart Disease,Multivariate,Classification,13 Features,303 Instances,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,7 Features,3.81K Instances,10/6/2019
4,Adult,Multivariate,Classification,14 Features,48.84K Instances,5/1/1996
5,Raisin,Multivariate,Classification,8 Features,900 Instances,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,30 Features,569 Instances,11/1/1995
7,Wine,Tabular,"Classification, Regression",13 Features,178 Instances,7/1/1991
8,Wine Quality,Multivariate,Classification,12 Features,4.9K Instances,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,20 Features,1 Instances,N/A

In [112]:
df

,Name,Data Type,Task,Attribute type,no of Instances,Year
0,Iris,Tabular,Classification,4 Features,150 Instances,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,16 Features,13.61K Instances,9/14/2020
2,Heart Disease,Multivariate,Classification,13 Features,303 Instances,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,7 Features,3.81K Instances,10/6/2019
4,Adult,Multivariate,Classification,14 Features,48.84K Instances,5/1/1996
5,Raisin,Multivariate,Classification,8 Features,900 Instances,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,30 Features,569 Instances,11/1/1995
7,Wine,Tabular,"Classification, Regression",13 Features,178 Instances,7/1/1991
8,Wine Quality,Multivariate,Classification,12 Features,4.9K Instances,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,20 Features,1 Instances,N/A